$colorPrimary: black;
$colorSecundary: red;

$fontPrimary: 'Arial', sans-serif;
$fontSecundary: 'Verdana', sans-serif;

$marginContainers: 20px 30px 12px 44px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $colorPrimary;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-around;
    .box{
        width: 30%;
        color: black;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        

        &.active{   
            background-color: $colorSecundary;
        }

        h2{ 
            font-family: $fontPrimary;
            font-size: 22px;
            margin: 10px 20px 30px 20px;
        }

        p{
            font-family: $fontSecundary;
            font-size: 18px;
            
            &.hidden{
                display: none;
            }
        }

        a{
            color: green;

            &:hover{
                color: yellow;

                & + p.hidden{
                    display: block;
                }
            }
        }
    }

}