body{
    background:#dddddd;
}

.foto{
    width: 300px;
    border:5px solid #868686;
    
    border-radius: 50%;
    /* margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px; */
    margin:30px;
    padding: 10px;

}

P{
    color: #222222;
}